{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "entry",
                "targets": {
                    "browsers": [
                        ">0.2%",
                        "not dead",
                        "not ie <= 11",
                        "not op_mini all"
                    ]
                }
            }           
        ], "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/syntax-dynamic-import"
    ]
}